* {
  margin: 0;
  padding: 0;
  font-family: "Red Rose", cursive;
}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */

/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */
.container{
  position: absolute;
  background-color:#000000;
   opacity: .8;
  height: 150vh;
  width: 100%;
  
  }
  body{
    background: url("./assets/pexels-maxyne-barcel-10402282\ 1.png");
    background-size:cover;
    background-repeat: no-repeat;
  }
  
  
  .navbar div >img{
    margin-top: 50px;
    /* position: absolute; */
    margin-left: 100px;
  }
  
.button-small{
  height: 50px;
  width: 150px;
  background-color: #ff0000;
  color:  #ffffff;
  font-size: 20px;
  font-weight: 500;
  float: right;
  position:relative;
  bottom: 70px;
  right: 100px;
  
}
.list{
  list-style-type: none;
  color: #c1c10b;
}
.list-item{
  float: left;
  position: relative;
  bottom: 50px;
  left: 500px;
  font-size: 20px;
  margin-right: 100px;
}
.hero-heading{
  color: #E8BD0D;
  font-size: 100px;
  margin-top: 100px;
  text-align: center;
  line-height: 150px;
  font-family: dela gothic one;
  /* border: 2px solid red; */
  width: 1200px;
  position: relative;
  left: 200px;
  /* top: 100px; */
  /* margin-left: 400px;   */
}
.button-large{
  background-color: #ff0000;
  border: none;
  color:  #ffffff;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  padding: 20px 50px;
  position: relative;
  left: 650px;
  top: 80px;
 }
 .bottom{
  float: right;
  position: relative;
  right: 200px;
  top: 100px;
 }
